/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя

  */
  --bg-image: url(/images/cover-image-dark.png);
  --bg-color: #000028;
  --description-color: var(--bg-color);
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --menu-color: var(--accent-color);
  --border-menu: var(--accent-color);
  --decor-color: var(--accent-color);
  --head-color: var(--accent-color);
  --subtitle-color: var(--bg-color);
  --subtitle-regular: var(--bg-color);
  --focus-color: var(--accent-color);
}
