.page {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-shadow: 2px 2px var(--accent-color);
}

main {
  background-color: var(--bg-color);
  color: var(--text-color);
}

html.theme-light .header__logo {
  display: none;
}

.decorated-zone::after {
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::before {
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.header__logo {
  color: var(--accent-color);
}

.header__logo::after {
  background-color: var(--accent-color);
  color: var(--accent-color);
}

.header__theme-menu {
  color: var(--menu-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-menu);
}

.header__theme-menu-button:hover {
  border: 1px solid rgb(20%, 19%, 18%, 0.4);
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--focus-color);
}

.header__title {
  color: var(--title-color);
  text-shadow: 4px 4px var(--accent-color);
}

.header__description {
  color: var(--description-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.card-title {
  color: var(--head-color);
}

.card-subtitle {
  color: var(--subtitle-color);
}

.card-subtitle-regular {
  color: var(--subtitle-regular);
}

.footer {
  background-color: var(--bg-color);
}

.footer-logo {
  color: var(--title-color);
  text-shadow: 4px 4px var(--accent-color);
}

/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(/images/cover-image-light.png);
  --bg-color: #fff1f7;
  --description-color: var(--text-color);
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --menu-color: var(--text-color);
  --border-menu: var(--text-color);
  --decor-color: var(--text-color);
  --head-color: var(--text-color);
  --subtitle-color: var(--text-color);
  --subtitle-regular: var(--text-color);
  --focus-color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(/images/cover-image-light.png);
    --bg-color: #fff1f7;
    --description-color: var(--text-color);
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --menu-color: var(--text-color);
    --border-menu: var(--text-color);
    --decor-color: var(--text-color);
    --head-color: var(--text-color);
    --subtitle-color: var(--text-color);
    --subtitle-regular: var(--text-color);
    --focus-color: var(--text-color);
  }
  html.theme-auto .header__logo {
    display: none;
  }
}
