/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.link {
  color: var(--text-color);
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
}

link:hover {
  text-decoration: underline;
}

link:focus-visible {
  outline: 1px solid var(--text-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover--menu);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--focus-color);
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  gap: 20px;
  padding: 10px 10px 66px 10px;
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.header__logo {
  position: absolute;
  display: var(--display-logo);
  align-items: center;
  gap: 10px;
  top: 12px;
  right: 19px;
  justify-self: end;
  font-family: inherit;
  font-size: 18px;
  color: var(--accent-color);
}

.header__logo::after {
  display: inline-block;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--decor-color);
  color: var(--decor-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-top: 60px;
  color: var(--menu-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  min-width: 70px;
  height: 26px;
  cursor: pointer;
  text-transform: lowercase;
}
.header__theme-menu-button_active {
  border: 1px solid var(--border-menu);
  pointer-events: none;
}

.header__title {
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-size: var(--font-size-mobile);
  margin-top: 20px;
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px var(--accent-color);
}

.header__description {
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  line-height: 1.3;
  font-size: 18px;
  align-self: end;
  max-height: min-content;
  color: var(--description-color);
}
.title-decor {
  background-color: var(--accent-color);
}

.page main {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 40px 10px 0 10px;
}
.content-section {
  display: grid;
  margin-bottom: 50px;
}

.content-section:last-of-type {
  margin-bottom: 0;
  padding-bottom: 40px;
}

.card {
  display: grid;
  gap: 20px;
}

.card-title {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  margin-bottom: 20px;
  color: var(--head-color);
}

.card-subtitle {
  font-family: inherit;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--subtitle-color);
}

.card-text {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.how-to-concentrate .card-subtitle {
  margin-bottom: 0;
}

.regular {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--subtitle-regular);
}

.section-gallery {
  gap: 10px;
}

.section-gallery .card-subtitle {
  margin-bottom: 0;
}

.section-gallery__images {
  width: 100%;
  height: 100%;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--bg-color);
}

.footer-logo {
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-size: var(--font-size-mobile);
  line-height: 23.4px;
  color: var(--title-color);
  text-shadow: 4px 4px var(--accent-color);
}

@media (width >= 768px) {
  .header {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr minmax(236px, 364px);
    padding: 20px 20px 0 0;
    min-height: 1024px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    bottom: 18px;
    left: 20px;
  }

  .header__logo {
    top: 22px;
    right: 30px;
  }

  .header__theme-menu {
    grid-column: 2 / span 1;
    justify-self: end;
    align-self: center;
    margin-top: 115px;
  }
  .header__title {
    grid-row: 2;
    grid-column: 1 / span 2;
    justify-self: start;
    align-self: center;
    margin-bottom: 30px;
    font-size: var(--font-size-laptop);
  }
  .header__description {
    grid-column: 2;
    align-self: start;
    margin-top: 25px;
  }

  main {
    padding: 63px 20px 20px;
  }

  .content-section {
    display: grid;
    gap: 20px;
    margin-bottom: 78px;
    grid-template-columns: 236px 1fr;
  }

  .content-section:last-of-type {
    margin-bottom: 0;
  }

  .card-title {
    margin-bottom: 0;
  }

  .section-attention .card {
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  .section-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
  }

  .section-gallery .card-subtitle {
    grid-row: 1;
    grid-column: 1 / span 3;
    margin: 0;
  }
  .sunset {
    grid-row: 2;
    grid-column: 1 / span 2;
    object-fit: cover;
  }
  .ice-cream {
    grid-row: 2 / span 2;
    grid-column: 3;
    object-fit: cover;
  }
  .tape {
    grid-row: 3 / 5;
    grid-column: 1;
    object-fit: cover;
  }
  .street {
    grid-row: 4;
    grid-column: 2 / span 2;
    object-fit: cover;
  }

  .footer {
    min-height: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
    grid-template-columns: 1fr minmax(236px, 490px);
  }
  .header__theme-menu {
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: start;
    margin-top: 0;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    grid-row: 2;
    grid-column: 1 / span 2;
    justify-self: start;
    align-self: center;
    font-size: var(--font-size-laptop);
  }

  .header__description {
    grid-row: 3;
    grid-column: 2;
  }

  .content-section {
    grid-template-columns: 315px 1fr;
  }

  .section-attention .card-title {
    grid-row: 1;
    grid-column: 1 / 2;
  }

  .section-gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    min-height: 768px;
  }

  .footer-logo {
    font-size: var(--font-size-laptop);
  }
}
