/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: "IBM Plex mono";
  --font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-laptop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  /* Переменный для темной темы */
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --display-logo: flex;
  --description-color: var(--bg-color);
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --menu-color: var(--accent-color);
  --border-menu: var(--accent-color);
  --decor-color: var(--accent-color);
  --head-color: var(--accent-color);
  --subtitle-color: var(--bg-color);
  --subtitle-regular: var(--bg-color);
  --focus-color: var(--accent-color);
  --hover-menu: rgba(100%, 0%, 44%, 0.4);
}
